@import url('https://fonts.googleapis.com/css?family=Lato:300');

@font-face {
    font-family: "Miso Regular";
    src: url('../fonts/miso-regular-webfont.woff2') format('woff2'),
         url('../fonts/miso-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Miso Bold";
    src: url('../fonts/miso-bold-webfont.woff2') format('woff2'),
         url('../fonts/miso-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-grid-cups {
	margin-top: 50px;
	background-color: #fadc7e;
	padding: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.ba-grid-cups img{
	width: 135px;
}
.ba-columns {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFF;
	flex-basis: 360px;
}

.ba-columns + .ba-columns {
	margin-left: 30px;
}

.ba-price {
	font: 700 70px/1 "Miso Bold", sans-serif;
	color:  #02995b;
	margin: 20px 0;
}

.ba-cups__title {
	font: 400 56px/1 "Miso Regular", sans-serif;
	color:  #333333;
}

.ba-cups__subtitle {
	font: 300 20px/1.2 Lato, sans-serif;
	color:  #333333;
	text-align: center;
	margin-bottom: 20px;
}
